		h2
		{
			color: red;
			background-color: yellow;
			width: 30%
		}
		#three
		{
		color: brown;
			background-color: yellow;
			width: 30%	
		}
		.head
		{
		color: green;
			background-color: black;
			width: 30%	
		}